@import url("/assets/css/main.css");

#logo {
  position: fixed;
  top: 18%;
  left: 37.5%;
  width: 25%;
}

#description {
  position: fixed;
  top: 69%;
  left: 30%;
  width: 40%;
  text-align: center;
}